<mat-tab-group mat-align-tabs="center">
  <mat-tab label="List">
    <div class="rooms">
      <div fxLayout="row wrap" fxLayoutGap="15px grid">
        <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="33%" *ngFor="let room of rooms">
          <mat-card class="mat-card-room">
            <img mat-card-image src="https://via.placeholder.com/1920x1080.png">
            <p class="room-price">€ {{ room.price }}</p>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Map">
    <ng-template matTabContent> </ng-template>
  </mat-tab>
</mat-tab-group>
